.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#hdln {
  margin-top: 100px;
  text-align: center;
  color: green;
}

#rwfrst {
  margin-top: 60px;
  text-align: center;
  color: green;
}

.gender {
  height: 18px !important;
  margin-bottom: 20px;
  margin-left: 10px;
}

.valdtncls {
  color: red;
  font-family: cursive;
  font-size: 16px;
}

.valdtnstarcls {
  color: red;
  font-family: cursive;
  font-size: 16px;
}

.loginform {
  margin: 0 auto;
  text-align: center;
}

fieldset {
  border: 2px solid #f75d34 !important;
  border-radius: 10px;

}

.submtbtn {
  margin-bottom: 20px !important;
}

.newbut {
  background-color: #f75d34 !important;
}

legend {
  background-color: #f75d34;
  color: white;
  padding: 5px 10px;
}

input,
textarea,
select {
  margin: 5px;
  border: 1px solid black !important;
}


#header {
  background: blue !important;
}

#header a {
  color: #fff !important;
}

#header span {
  color: #fff !important;
}


.logo {
  color: #fff !important;
  margin-right: 10px;
}

body {
  background: #fff !important;
}

.margcssdv {
  margin-left: 20px;
}

.entry-title a:hover {
  color: black !important;
}

.entry-content p {
  color: black !important;
}

.hdlg {
  font-size: 26px;
  font-family: cursive;
  padding: 5px;
  margin: 5px;
  color: green;
  font-style: italic;
  font-weight: bolder;
}

.prch {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bolder;
  margin-left: 3px;
  padding: 2px;
  font-style: italic;
  color: red;
}

.entry-img {
  margin-top: 20px !important;
  margin-left: 20px !important;
}

.icnslstcar {
  font-size: 17px;
  font-family: 'FontAwesome';
  padding: 2px;
  color: black;
}

.prctxt {
  font-size: 17px;
  font-family: 'FontAwesome';
  padding: 2px;
  color: black;
  font-weight: bolder;
}

.desceditor {
  margin: 10px;
  padding: 10px;
  color: black;
}

.homerdmr {
  margin-top: 20px;
}

.homerdmr a {
  color: blue !important;
  font-size: 17px;
  font-family: cursive;
  padding: 2px;
  font-weight: bolder;

}

.homecar {
  max-height: 520px;
  margin-bottom: 20px;
  padding: 10px;
}

.client-logo {
  color: black;
  font-family: 'boxicons';
}

.dtls_1 {
  font-size: 17px;
  font-family: cursive;
  padding: 2px;
  color: blue;
  font-weight: bolder;
}

.boknwbut a {
  color: #fff !important;
}

.bknw a {
  color: #fff !important;
}

.carnam {
  color: black;
}

.carnum {
  color: blue;
}

.carnum span {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
}

.hmcdul li {
  float: left;
  margin-left: 10px;
}

.hmimgcss {
  max-height: 190px;
}

.hmserchfieldset {
  margin-top: 100px;
  border-radius: 15px;
  margin-bottom: 100px;
  padding-bottom: 30px;
  background-color: #ffb700;
  border: none !important;


}

.hmserchfieldset input {
  margin-top: 20px;
  box-sizing: border-box;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  width: 80%;
}

.hmserchfieldset select {
  margin-top: 20px;
  box-sizing: border-box;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: 20px;
  width: 80%;
}

.hmserchfieldset button {
  margin-top: 19px;
}

.react-datepicker-popper {
  z-index: 99999 !important;
}

.lgndhd {
  background-color: blue;
  padding: 10px;
  text-align: center;
  font-family: 'FontAwesome';
  text-transform: uppercase;
  font-weight: bolder;
}

.srchtable {
  border: none;
}

.srchtable tr {
  border: none;
  text-align: center;
}

.srchtable th {
  border: 1px solid black;
  color: black;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 17px;
}

.srchtable td {

  border: 1px solid black;
  color: #fff;
  text-align: center;
  font-weight: bolder;
}

.srchtr {
  border: none !important;
}

.srchbt {
  border-radius: 10px !important;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .navbar-toggler-icon {
    font-size: 15px;
  }

  .navbar a,
  .navbar a:focus {
    font-size: 9px !important;
  }

  .navbar-toggler {
    margin-left: 215px;
  }

  fieldset {
    padding: 20px !important;
  }

  .mr-auto a {
    float: left;
    width: 20%;
    margin-left: 20px;
  }

  .me-auto {
    width: 100%;
  }

  .me-auto span {
    font-size: 9px !important;
    width: 100%;

  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .hmserchfieldset input {
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .hmserchfieldset select {

    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .no-gutters .col-lg-4 {
    width: 100%;
    margin-top: 10px;
  }
}

.bookingform select {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;

}

.bookingform input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  margin-top: 10px;
  margin-bottom: 10px;

}

.boksp1 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
}

.boksp2 {
  color: black;
  font-family: ui-sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

.boksp3 {
  color: blue;
  font-family: ui-sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

._loading_overlay_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cardts {
  position: relative;
}

._loading_overlay_overlay {}

.css-42igfv {
  position: absolute;
  top: 15%;
  left: 40%;
}

._loading_overlay_spinner {
  /* margin-top: -1400px !important; */
}

._loading_overlay_content {}

.css-42igfv {
  /* margin-top: -2000px !important;
  
  margin-left: 617px !important; */
}

.show>.dropdown-menu {
  display: block;
  position: absolute;
}

.mr-auto a {
  float: left;
  font-size: 13px;
}

.me-auto span {
  font-size: 17px;
}

.is-active {
  background-color: #f17241;
  padding: 8px !important;
  margin-left: 10px;
}

.usrimg {
  max-width: 100%;
  height: auto;
  max-height: 110px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.updwbut {
  margin-left: 20px;
}

.carlbl {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'FontAwesome';
  font-weight: bold;
  color: blue;
}

.bookstsdrp {
  width: 25% !important;
  border: 2px solid black !important;
  text-transform: uppercase;
}

.entry-content .bokklbl {
  text-align: left;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}

.bokklbl1 {
  text-align: left;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
  color: red;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 15px;

}

.bokklbl2 {
  text-align: left;
  float: left;
  margin-left: 50px;
  margin-right: 10px;
  color: black;
  font-weight: bold;

}

.inpsts {
  font-size: 22px;
  font-family: 'FontAwesome';
  font-weight: bold;
  color: #611abf;
}

.compsts {
  color: green;
  font-size: 22px;
  font-family: 'FontAwesome';
  font-weight: bold;
}

.cancsts {
  color: red;
  font-size: 22px;
  font-family: 'FontAwesome';
  font-weight: bold;
}

.hiddenbksts {
  pointer-events: none;
}

.abthd {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: 'FontAwesome';
  font-weight: bold;
  color: blue;
}

.abtpara {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Open Sans';
  color: black;
}

.srcherrtxt {
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: 'Open Sans';

}